
build/
dist/
node_modules/
wheels/
*.egg-info


.env
.env.development
.env.production
*.pem
メモ.md


# クラッシュログファイル
crash.log
crash.*.log

tmp
.vscode-test/
*.vsix

.DS_Store

pnpm-lock.yaml

database.sqlite